<% content_for :moreScripts do %>
<script type="text/javascript" charset="utf-8">
var $ = jQuery.noConflict();
  $(window).load(function() {
	
	$(function() {
		$('.show_menu').click(function(){
				$('.menu').fadeIn();
				$('.show_menu').fadeOut();
				$('.hide_menu').fadeIn();
		});
		$('.hide_menu').click(function(){
				$('.menu').fadeOut();
				$('.show_menu').fadeIn();
				$('.hide_menu').fadeOut();
		});
	});
	

  });
  
  jQuery(function($){
	$(".tweet").tweet({
	  join_text: "auto",
	  username: "famousthemes",
	  count: 1,
	  auto_join_text_default: "we said,",
	  auto_join_text_ed: "we",
	  auto_join_text_ing: "we were",
	  auto_join_text_reply: "we replied",
	  auto_join_text_url: "we were checking out",
	  loading_text: "loading tweets..."
	});
	$('#basicuse').jflickrfeed({
		limit: 6,
		qstrings: {
			id: '31408169@N04'
		},
		itemTemplate: '<li><a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a></li>'
	});
  });
</script>
<% end %>
	
  <div class="pages_title">
  <h2>Todo sobre la <span>Boda</span></h2>
  </div> 
   
   <div class="content">
   
   		<div class="left23">
            <h2>Información sobre nuestra boda:</h2>
            <p>
            <%= image_tag 'pic_left.jpg', {class:'left_pic'}%>

            Les recordamos que el <strong>código de vestimenta</strong> es de tipo <strong>coctail formal.</strong>

            <br/>
            <br/>

            La boda se realizar en la <strong><a href="http://www.360cities.net/image/parroquia-de-la-sagrada-familia-mexico#0.40,-24.20,90.0">Parroquia de la Sagrada Familia</a></strong> en la calle de Puebla 144, entre Orizaba y Jalapa en la colonia Roma Norte . La recepción se llevara acabo en el <strong><a href="http://www.chilango.com/restaurantes/roma/centro-gallego">Centro Gallego</a></strong> ubicado a solo unos metros de la iglesia sobre la calle de Colima 194, entre Orizaba y Jalapa.

            </p>

            <div class="clear"></div>

            <%
                if mobile_device?
            %>

                <a target="_blank" href="https://maps.google.com/maps/ms?msid=206654135805157920352.0004d08366ab29f6abd42&msa=0&ll=19.421117,-99.160216&spn=0.006294,0.011104" class="section_more"><span class="swirl_left"><span class="swirl_right">Ver Mapa</span></span></a>

            <% else %>

            <h2>Mapa para la boda y recepción:</h2>

            <iframe width="600" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=206654135805157920352.0004d08366ab29f6abd42&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=19.421349,-99.160023&amp;spn=0.006516,0.011104&amp;output=embed"></iframe><br /><small>Ver <a href="https://maps.google.com/maps/ms?msid=206654135805157920352.0004d08366ab29f6abd42&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=19.421349,-99.160023&amp;spn=0.006516,0.011104&amp;source=embed" style="color:#0000FF;text-align:left">Iglesia Sagrada Familia y Centro Gallego</a> en un mapa ampliado</small>

            <% end %>
            
            <div class="clear"></div>
            
            <div class="contact_info_blocks">
            
            <div class="contact_info">
            <h3>Galería de Fotos</h3>
            <div class="icon"><a href="/gallery"><%= image_tag 'icon_camera.png' %></a></div><p>Aqué encontraras fotos que hemos subido nosotros al sitios, al igual que fotos que subas tu a twitter usando el hastag: <strong>#alonsoymaria</strong>
            </div>
            <div class="contact_info">
            <h3>Repondez s'il vous plait <span>RSVP</span></h3>
            <p>
             <a href="/rsvp" class="left button">RSVP Ahora!</a>
             Avisanos si vas a venir a nuestra boda en cuanto puedas!
            </p>
            </div>

            </div>  
            
        </div>
        
        <div class="left13">
            <h2>Damas &amp; Padrinos</h2>
            <div class="bgs">
			<ul>
                <%= render "padrinos"%>
            </ul>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <div class="divider"></div>
        
        <div class="clear"></div>

        
            
   </div>