<div id="header">

	<div class="title">
		<a href="/">Alonso &amp; Maria</a>
	</div>
	<div class="description">
		<span class="swirl_left"><span class="swirl_right">27 de Abril 2013</span></span>
	</div>

</div><!-- End of Header-->