<a id="show_menu_link" class="show_menu" href="#">menu</a>
<a id="hide_menu_link" class="hide_menu" href="#">cerrar menu</a>

<div id="main_menu_container" class="menu">
	<ul id="main_menu">
		<li>
			<a <%= selected_page "/" %> href="/">Home</a>
		</li>
		<li>
			<a <%= selected_page "about" %> href="/about">Nuestra Boda</a>
		</li>
		<li>
			<a <%= selected_page "gallery" %> href="/gallery">Álbum de fotos</a>
		</li>
		<li>
			<a <%= selected_page "rsvp" %> href="/rsvp">RSVP</a>
		</li>
	</ul>
</div>